[submodule ".vim/bundle/htmlvalidator"]
	path = .vim/bundle/htmlvalidator
	url = https://github.com/sorin-ionescu/vim-htmlvalidator.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
